Dataset/dump_S3D_and_weightE20_final_AIM.pth
*.mp4
*.npy
space-jam-fork/*
utils/__pycache__/metrics.cpython-311.pyc
utils/__pycache__/checkpoints.cpython-311.pyc
utils/__pycache__/metrics.cpython-39.pyc
utils/__pycache__/checkpoints.cpython-39.pyc
__pycache__/dataset.cpython-39.pyc
__pycache__/dataset.cpython-311.pyc
